@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-12">
            <i class="fas fa-exclamation-triangle text-warning" style="font-size: 5rem;"></i>
            <h1 class="display-4 mt-3">Access Denied</h1>
            <p class="lead">You don't have permission to access this page.</p>
            <hr class="my-4">
            <p>Please contact your administrator if you believe this is a mistake.</p>
            <a href="/" class="btn btn-primary mt-3">Go to Home</a>
        </div>
    </div>
</div>